APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
APP_SECRET=trinova_secret_key_change_in_production_32bytes

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=trinova_portal
DB_USER=root
DB_PASS=

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=no-reply@trinova.co.uk
MAIL_FROM_NAME="TriNova Accounting"
